.card {
  display: flex;
  list-style: none;
  flex-direction: column;
  border-radius: 10px;
  background: white;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
}
.card__image:hover {
  cursor: pointer;
}
.card__content-container {
  padding: 25px 20px;
  font-family: "Inter", Arial, sans-serif;
  color: black;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  /* margin-right: 16px; */
  grid-template-columns: repeat(auto-fit, 282px);
  align-items: center;
}

.card__text {
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  max-width: 100%;
  line-height: 29px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

.card__button {
  background-color: transparent;
  border: none;
  appearance: none;
  background: transparent url(../images/like-faded.svg) center no-repeat;
  width: 21px;
  height: 18px;
}
.card__button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.card__button_active {
  background-image: url(../images/Union.svg);
}
.card__trash {
  position: absolute;
  width: 18px;
  height: 19px;
  background-image: url(../images/Group.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  top: 18px;
  right: 15px;
}
.card__trash:hover {
  cursor: pointer;
  opacity: 0.5;
}
