.card-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  max-width: 880px;
  margin: 0 auto;
}
@media screen and (max-width: 580px) {
  .card-list {
    max-width: 282px;
  }
}
