.profile {
  display: flex;
  align-items: center;
  padding: 40px 19px 0 19px;
  gap: 30px;
  margin-bottom: 51px;
}
.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  align-items: baseline;
}

.profile__title {
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  box-sizing: border-box;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: title;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid white;
  padding: 0;
  margin: 0;
  transition: 0.3s;
  background-size: 10px 10px;
  margin-left: 18px;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  min-width: 50px;
  height: 50px;
  grid-area: button;
  border: 2px solid white;

  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-size: 22px;
  transition: 0.3s;
  margin-left: auto;
}
.profile__info-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;
  max-width: 392px;
}
.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__image {
  border-radius: 50%;
  overflow: hidden;
  min-width: 120px;
  height: 120px;
  object-fit: cover;
  background-position: center;
}
.profile__image:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.4s;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__image-edit {
  position: absolute;
  height: 120px;
  width: 120px;
  background-image: url(../images/GiantPencil.svg);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 50%;
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.profile__image-edit:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__title {
    font-size: 32px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 550px) {
  .profile {
    flex-direction: column;
  }
  .profile__description {
    text-align: center;
  }
  .profile__add-button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    padding-top: 38px;
    margin-bottom: 36px;
  }
  .profile__add-button {
    width: 100%;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    margin-bottom: 14px;
  }
  .profile__description {
    font-size: 14px;
    line-height: 16.94px;
  }
}
